[submodule "Tuckfirtle.Core"]
	path = Tuckfirtle.Core
	url = https://github.com/Tuckfirtle/Tuckfirtle.Core.git
[submodule "Tuckfirtle.Miner"]
	path = Tuckfirtle.Miner
	url = https://github.com/Tuckfirtle/Tuckfirtle.Miner.git
[submodule "Tuckfirtle.Node"]
	path = Tuckfirtle.Node
	url = https://github.com/Tuckfirtle/Tuckfirtle.Node.git
[submodule "Tuckfirtle.OpenQuantumSafe"]
	path = Tuckfirtle.OpenQuantumSafe
	url = https://github.com/Tuckfirtle/Tuckfirtle.OpenQuantumSafe.git
