[submodule "TheDialgaTeam.Core.Logger"]
	path = TheDialgaTeam.Core.Logger
	url = https://github.com/TheDialgaTeam/TheDialgaTeam.Core.Logger.git
[submodule "TheDialgaTeam.Core.Logger.DependencyInjection"]
	path = TheDialgaTeam.Core.Logger.DependencyInjection
	url = https://github.com/TheDialgaTeam/TheDialgaTeam.Core.Logger.DependencyInjection.git
[submodule "Tuckfirtle.Core"]
	path = Tuckfirtle.Core
	url = https://github.com/Tuckfirtle/Tuckfirtle.Core.git
[submodule "Tuckfirtle.Core.Benchmark"]
	path = Tuckfirtle.Core.Benchmark
	url = https://github.com/Tuckfirtle/Tuckfirtle.Core.Benchmark.git
[submodule "Tuckfirtle.Core.Test"]
	path = Tuckfirtle.Core.Test
	url = https://github.com/Tuckfirtle/Tuckfirtle.Core.Test.git
